.idea
.DS_Store
classes
.gradle
build
.private
out
*.jar
*.zip
*.iml
scripts/packr-scripts/*.jar
!scripts/packr-scripts/packr.jar
scripts/packr-scripts/linux/localstore/
scripts/packr-scripts/linux/record/
scripts/packr-scripts/linux/record-and-upload/*
scripts/packr-scripts/linux/*.tgz
scripts/packr-scripts/macos/localstore/
scripts/packr-scripts/macos/record/
scripts/packr-scripts/macos/record-and-upload/*
scripts/packr-scripts/macos/*.tgz
scripts/packr-scripts/windows/localstore/
scripts/packr-scripts/windows/record/
scripts/packr-scripts/windows/record-and-upload/*
scripts/packr-scripts/windows/*.zip